/* Legend Font Style */
@import url("https://use.typekit.net/xzf6qrz.css")

.title
	text-align: center
	padding-top: 3rem
	padding-bottom: 6rem

#sections
	margin-left: 10rem
	padding-right: 50rem
  position: relative
  display: inline-block
  width: 50%
  top: 0px
  z-index: 90

.step
  margin-bottom: 200px

#vis
  display: inline-block
  position: fixed
  top: 25%
  z-index: 1
  margin-left: 50%

  height: 600px
  width: 600px

.st0, .st1, .st2
	fill: white
	stroke: black
